<h1><%= @post.title %></h1>

<% if @current_user && @post.user_id == @current_user.id %>
  <%= link_to "Edit post", edit_post_path(@post) %> &middot;
  <%= link_to "Delete post", post_path(@post), method: :delete %>
<% end %>

<p>
    <%= @post.body %>
</p>

<h5>Comments</h5>

<% @comments.each do |comment| %>
  <div class="card mb-4">
    <div class="card-body">
      <% if comment.user %>
          <h6 class="card-title text-muted"><%= comment.user.full_name %></h6>
      <% end %>

      <p class="card-text"><%= comment.body %></p>
    </div>

    <div class="card-footer text-muted">
      <div class="d-flex">
        <%= time_ago_in_words comment.created_at %> ago

        <div class="ml-auto text-right">
          <%= link_to 'Edit', edit_comment_path(comment) %> &middot;
          <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render 'comments/form' %>

